.custom-card {
    margin: 10px;
}

.igx-avatar {
    background-color: white;
    background-size: contain !important;
}

button img{
    width: 1.5rem;
    height: 1.5rem;
    margin-right: .5rem;
}

.radioSource img{
    width: 1.5rem;
    height: 1.5rem;
    margin-right: .5rem;
    vertical-align:top;
    transform: translateY(50%);
}