<div class="sample-column card-wrapper custom-card">
    <igx-card [horizontal]="horizontal">
        <div igxLayout igxLayoutDir="column" igxFlex igxFlexGrow="1">
            <igx-card-header>
                <igx-avatar [src]="card.avatarUrl"></igx-avatar>
                <h5 igxCardHeaderTitle>{{card.title}}</h5>
                <h5 igxCardHeaderSubtitle>{{card.subtitle}}</h5>
            </igx-card-header>

            <igx-card-content *ngIf="card.links[0].text">
                <button *ngFor="let link of card.links;" igxButton="flat" igxRipple (click)="newTab(link)">
                    <div *ngIf="card.displayLinkIcon">
                        <img *ngIf="card.displaySiteIcon" src="{{ link.linkSiteAvatarUrl }}" />
                        <img *ngIf="card.displayCategoryIcon" src="{{ link.linkCategoryAvatarUrl }}" />
                    </div>
                    {{link.text}}
                </button>
            </igx-card-content>

            <igx-card-content *ngIf="card.links[0].radioStreamUrl">
                <div style="text-align: center;">
                    <audio controls="controls">
                        <source src="{{card.links[0].radioStreamUrl}}"/>
                    </audio>
                </div>
            </igx-card-content>

            <!--<igx-card-actions [vertical]="false">
                <button *ngFor="let button of card.buttons;" igxButton="flat" igxRipple>
                    {{button}}
                </button>
            </igx-card-actions>-->
        </div>

        <!--<igx-card-media width="96px">
                <img [src]="card.imageUrl">
            </igx-card-media>-->
    </igx-card>
</div>